.container1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    /* align-content: center; */
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    flex-wrap: wrap;
    align-items: center;

}
.container2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* align-content: center; */
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: flex-end; */
    /* align-content: space-between; */
    /* align-content: space-around; */
    flex-wrap: wrap;
    /* align-items: center; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: stretch; */
    align-items: baseline;

}

